// Variables:
$primary-color: #9356dc;
$primary-lighten-color: lighten($primary-color, 5%);
$secondary-color: #ff79da;
$secondary-lighten-color: lighten($secondary-color, 5%);
$tertiary-color: #99e2d0;

$grey: #f0f0f0;
$btn-gradient: linear-gradient(170deg, #ff79da 0%, #9356dc 100%);
$btnHoverColor: linear-gradient(170deg, $primary-lighten-color 0%, $secondary-lighten-color 100%);

$main-font: 'Shrikhand', cursive;
$secondary-font: 'Roboto', sans-serif;

$card-radius: 20px;


// Mixins:
@mixin flexMid($align:center, $justify:center, $direction:column) {
    @extend %flexMid;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}

@mixin imgPosition {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



// Placeholders:
%homeLikeBtn {
    position: absolute;
    right: 10px;
    bottom: 5%;
    @include flexMid(center,center,initial);
    width: 20%;
    height: 20%;
    font-size: 1.5rem;
    cursor: pointer;
}

%btnColor {
    @include flexMid(center,center,initial);
    height: auto;
    padding: 15px 30px;
    margin: 30px 0;
    border-radius: 50px;
    background: $btn-gradient;
    box-shadow: 0px 6px 10px #ccc;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}

%btnHover {
    @extend %btnColor;
    background: $btnHoverColor;
    box-shadow: 0px 2px 7px #ccc;
    font-weight: 600;
}

%flexMid {
    display: flex;
}

// Général:
*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    @extend %flexMid;
    flex-direction: column;
    font-family: $secondary-font;
    background-color: rgb(246, 246, 246);
}
a {
    text-decoration: none;
    color: unset;
}

.headerContainer {
    @include flexMid(center,center,initial);
    padding: 20px 0 10px 0;
    background-color: #fff;
    box-shadow: 0 2px 5px #ccc;
    z-index: 100;

    &__logo {
        width: 150px;
    }

    &--noShadow {
        box-shadow: unset;
    }
}

.searchForm {
    @include flexMid(center,center,initial);

    form {
        @include flexMid(center,center,initial);
        width: 100vw;
        height: 50px;
        padding: 10px;
        background-color: rgb(234, 234, 234);
        color: rgb(50, 50, 50);

        label {
            height: 100%;
            text-align: center;
            position: relative;

            span {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                //height: 30px;
                @include flexMid(center, unset, initial);
                margin-left: 8px;
            }
        }
        input {
            width: auto;
            height: 100%;
            border: none;
            background: transparent;
        }
        input[placeholder] {
            color: rgb(0, 0, 0);
            text-align: center;
            font-size: 1rem;
            height: 100%;
        }
    }
}

.exploreContainer {
    @include flexMid();
    padding: 30px;
    text-align: center;

    &__title {
        font-weight: 700;
        margin-bottom: 10px;
        padding: 0 30px;
    }

    &__description {
        font-weight: 300;
        font-size: 1.05rem;
    }

    > .btn {
        @extend %btnColor;
        &:hover {
            @extend %btnHover;
        }
    }
}

.functioningContainer {
    background-color: #fff;
    padding: 50px 20px;

    &__cardsContainer {
        @include flexMid();
        gap: 10px;
        margin: 20px 15px;

        > a {
            width: 100%;
            position: relative;
        }
    }

    &__steps {
        @include flexMid(center,unset,initial);

        &__circle {
            width: 27px;
            height: 27px;
            background-color: $primary-color;
            border-radius: 50%;
            color: #fff;
            font-size: 0.9rem;
            @include flexMid(center,center,initial);
            position: absolute;
            left: -15px;
            z-index: 10;
        }

        > div {
            @include flexMid(center,center,initial);
            width: 95vw;
            height: 75px;
            border-radius: 20px;
            color: #000;
            margin: 10px 0;
            background-color: lighten($grey, 1%);
            box-shadow: 3px 5px 15px darken($grey, 10%);
        }

        i {
            display: block;
            font-size: 1.3rem;
            color: darken($grey, 50%);

            &:not(.fa-mobile-alt) {
                object-fit: contain;

                &::before {
                    width: 15px;
                }
            }
        }

        p {
            margin-left: 15px;
            font-weight: 500;
            min-width: 180px;
        }
    }
}

.restaurantsContainer {
    padding: 50px 20px;

    &__cardHead {
        height: 170px;
        overflow: hidden;

        &__img {
            object-position: 50% 60%;
            @include imgPosition;
            border-radius: 10px 10px 0 0;
        }

        &__new {
            position: absolute;
            top: 12px;
            right: 12px;
            border-radius: 2px;
            padding: 7px 15px;
            font-size: 0.8rem;
            font-weight: 500;
            background-color: $tertiary-color;
            color: darken($tertiary-color, 40%);
        }
    }
    &__card {
        border-radius: 10px;
        margin: 20px 0;
        box-shadow: 0px 0px 10px #ccc;
        position: relative;

        a {
            @include flexMid(initial, initial);
            color: #000;
            height: max-content;
            z-index: 1;
        }
        &__content {
            padding: 20px 15px;
            width: 80%;

            &__subtitle {
                font-weight: 300;
                font-size: 1.1rem;
            }  
        }
        &__emptyLikeBtn {
            @extend %homeLikeBtn;
            background-color: #f6f6f6;
            z-index: 3;
            &:hover {
                display: none;
            }
        }
        &__plainLikeBtn {
            @extend %homeLikeBtn;
            background: $btnHoverColor;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            bottom: 4.99%;
            opacity: 0;
            z-index: 20;
            font-size: 1.7rem;
            transition: all .1s ease-in;
            &:hover {
                transition: all .1s ease-out;
                opacity: 1;
            }
            &:active {
                transition: all .1s ease-out;
                opacity: 1;
            }
        }
    }
}

.footerContainer {
    @include flexMid(initial, initial);
    padding: 30px 20px;
    background-color: rgb(53, 53, 53);
    color: #fff;

    &__logo {
        
        &--invert {
            filter: invert(1);
            margin-bottom: 15px;
            width: 100px;
        }
    }
    &__link {
        text-decoration: none;
        color: #fff;
        font-weight: 400;
        margin-bottom: 7px;

        &__icon {
            width: 10px;
            font-size: 0.9rem;
            margin-right: 5px;
            
            &--rotate {
                transform: rotateY(50deg);
            }
        }
    }
}


/* Style des pages MENUS */

.menuContainer {
    
    &__head {
        position: absolute;
        z-index: -1;
        width: 100vw;
        height: 70vw;  
    }
    &__img {
        @include imgPosition;
    }
    &--img-portrait {
        > .menuContainer__img {
            object-position: center;
        }
    }

    .commandBtn {
        @extend %btnColor;
        margin: auto 20% 10% 20%;

        &:hover {
            @extend %btnHover;
            margin: auto 20% 10% 20%;
        }
    }
    &__secondaryTitle {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1.2rem;
        margin-top: 30px;
        &::after {
            content: "";
            display: block;
            width: 50px;
            height: 3px;
            background-color: $tertiary-color;
            margin-top: 5px;
        }
    }
    &__contentContainer {
        margin-top: 60%;
        @include flexMid(initial,initial);
        width: 100vw;
        padding: 30px 10px;
        background-color: #f6f6f6;
        border-radius: 30px 30px 0 0;
    
        
    }
    &__mainTitleContainer {
        @include flexMid(center,space-between,initial);
        font-family: $main-font;
        height: 50px;
        font-size: 0.8rem;
    }
    &__emptyLikeBtn {
        height: 100%;
        @include flexMid(center,center,initial);
        font-size: 1.8rem;
        cursor: pointer;
    }
    &__plainLikeBtn {
        display: none;
    }

    .menuItem {
        @include flexMid(stretch,center,initial);
        height: max-content;
        margin: 20px 0;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0px 6px 10px darken($grey, 10%);

        &__content {
            width: auto;
            padding: 10px 0 7px 10px;

        }
        &__title {
            line-height: 25px;
            font-size: 1.1rem;
        }

        &__description {
            font-size: 0.9rem;
            font-weight: 300;
            line-height: 25px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__price {
            @include flexMid(center,center,initial);
            margin-left: auto;
            align-self: flex-end;
            width: auto;
            height: 50%;
            font-weight: bold;
            font-size: 0.9rem;
            padding: 10px 7px 12px 0;
        }

        &:hover {
            cursor: pointer;
        }
    }
}