.loader {
    visibility: hidden;
    position: absolute;
    z-index: 20;
    background: rgba(246, 246, 246, 0.9);
    width: 100vw;
    @include flexMid(unset,center,row);
    animation: displayLoader 2s;
}
.animLoaderContainer {
    @include flexMid(flex-end,space-between,row);
    position: fixed;
    width: 70px;
    top: 40%;
    height: 40px;
    border-radius: 50%;
}
.animLoading {
    background: $primary-lighten-color;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    @extend %moveLoaderBullets;
    animation-delay: 0ms;
}
.animLoading2 {
    @extend .animLoading;
    background: $secondary-color;
    @extend %moveLoaderBullets;
    animation-delay: 100ms;
}
.animLoading3 {
    @extend .animLoading;
    background: $primary-color;
    @extend %moveLoaderBullets;
    animation-delay: 200ms;
}

@keyframes displayLoader {
    0% {
        visibility: visible;
        height: 100%;
    }
    100% {
        visibility: visible;
        height: 100%;
    }
}

@keyframes moveTheLoaderBullet {
    0% {
        transform: translateY(0px);
    }
    5% {
        transform: translateY(3px);
    }
    10% {
        transform: translateY(0px);
    }
    40% {
        transform: translateY(-30px);
    }
    70% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(0px);
    }
}