.footerContainer {
    @include flexMid(initial, initial);
    padding: 30px 20px;
    background-color: rgb(53, 53, 53);
    color: #fff;
    @media screen and (min-width: 1200px) {
        @include flexMid(center, center, column)
    }

    &__logoContainer {
        height: 100%;
        width: max-content;
        transition: transform 0.2s;
        &:hover, &:active {
            transform: scale(1.1);
            transition: transform 0.2s;
        }
    }
    &__logo {
        margin-bottom: 15px;
        width: 100px;
        &--invert {
            filter: invert(1);
        }
    }
    &__link {
        text-decoration: none;
        color: #fff;
        width: max-content;
        font-weight: 400;
        margin-bottom: 7px;
        @include hoverAnim(color,.2s);
        &:hover, &:active {
            color: $tertiary-color;
            @include hoverAnim(color,.2s);
        }
    }
    &__icon {
        width: 10px;
        font-size: 0.9rem;
        margin-right: 5px;
        
        &--rotate {
            transform: rotateY(50deg);
        }
    }
}