.restaurantsContainer__card__plainLikeBtn, .restaurantsContainer__card__emptyLikeBtn {
  position: absolute;
  right: 15px;
  bottom: 5%;
  align-items: center;
  justify-content: center;
  flex-direction: initial;
  width: 10%;
  height: 20%;
  font-size: 1.5rem;
  cursor: pointer;
}

.menuContainer .commandBtn, .exploreContainer > .btn, .menuContainer .commandBtn:hover, .exploreContainer > .btn:hover {
  align-items: center;
  justify-content: center;
  flex-direction: initial;
  height: auto;
  padding: 15px 30px;
  margin: 30px 0;
  border-radius: 50px;
  background: linear-gradient(170deg, #ff79da 0%, #9356dc 100%);
  box-shadow: 0px 6px 10px #ccc;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

.menuContainer .commandBtn:hover, .exploreContainer > .btn:hover {
  background: linear-gradient(170deg, #a16be0 0%, #ff93e1 100%);
  box-shadow: 0px 2px 7px #ccc;
  font-weight: 600;
}

.menuContainer .menuItem__price, .menuContainer .menuItem, .menuContainer__emptyLikeBtn, .menuContainer__mainTitleContainer, .menuContainer__contentContainer, .footerContainer, .restaurantsContainer__card a, .functioningContainer__steps--content, .functioningContainer__steps__circle, .functioningContainer__steps, .functioningContainer__cardsContainer, .exploreContainer, .searchForm form label span, .searchForm form, .searchForm, .headerContainer, body, .restaurantsContainer__card__plainLikeBtn, .restaurantsContainer__card__emptyLikeBtn, .menuContainer .commandBtn, .exploreContainer > .btn, .menuContainer .commandBtn:hover, .exploreContainer > .btn:hover {
  display: flex;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
}

a {
  text-decoration: none;
  color: unset;
}

.headerContainer {
  align-items: center;
  justify-content: center;
  flex-direction: initial;
  padding: 20px 0 10px 0;
  background-color: #fff;
  box-shadow: 0 2px 5px #ccc;
  z-index: 100;
}
.headerContainer__logo {
  width: 150px;
}
.headerContainer--noShadow {
  box-shadow: unset;
}

.searchForm {
  align-items: center;
  justify-content: center;
  flex-direction: initial;
}
.searchForm form {
  align-items: center;
  justify-content: center;
  flex-direction: initial;
  width: 100vw;
  height: 50px;
  padding: 10px;
  background-color: #eaeaea;
  color: #323232;
}
.searchForm form label {
  height: 100%;
  text-align: center;
  position: relative;
}
.searchForm form label span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
  justify-content: unset;
  flex-direction: initial;
  margin-left: 8px;
}
.searchForm form input {
  width: auto;
  height: 100%;
  border: none;
  background: transparent;
}
.searchForm form input[placeholder] {
  color: black;
  text-align: center;
  font-size: 1rem;
  height: 100%;
}

.exploreContainer {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  text-align: center;
}
.exploreContainer__title {
  font-weight: 700;
  margin-bottom: 10px;
  padding: 0 30px;
}
.exploreContainer__description {
  font-weight: 300;
  font-size: 1.05rem;
}
.functioningContainer {
  background-color: #fff;
  padding: 50px 20px;
}
.functioningContainer__cardsContainer {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin: 20px 15px;
}
.functioningContainer__steps {
  align-items: center;
  justify-content: unset;
  flex-direction: initial;
  width: 100%;
  position: relative;
}
.functioningContainer__steps__circle {
  width: 27px;
  height: 27px;
  background-color: #9356dc;
  border-radius: 50%;
  color: #fff;
  font-size: 0.9rem;
  align-items: center;
  justify-content: center;
  flex-direction: initial;
  position: absolute;
  left: -15px;
  z-index: 10;
}
.functioningContainer__steps--content {
  align-items: center;
  justify-content: center;
  flex-direction: initial;
  width: 95vw;
  height: 75px;
  border-radius: 20px;
  color: #000;
  margin: 10px 0;
  background-color: #f3f3f3;
  box-shadow: 3px 5px 15px #d7d7d7;
  transition: background 0.2s;
}
.functioningContainer__steps--content:hover {
  cursor: pointer;
  background: #ffeefa;
  transition: background 0.2s;
}
.functioningContainer__steps i {
  display: block;
  font-size: 1.3rem;
  color: #717171;
}
.functioningContainer__steps i:not(.fa-mobile-alt) {
  object-fit: contain;
}
.functioningContainer__steps i:not(.fa-mobile-alt)::before {
  width: 15px;
}
.functioningContainer__steps p {
  margin-left: 15px;
  font-weight: 500;
  min-width: 180px;
}

.restaurantsContainer {
  padding: 50px 20px;
}
.restaurantsContainer__cardHead {
  height: 170px;
  overflow: hidden;
}
.restaurantsContainer__cardHead__img {
  object-position: 50% 60%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.restaurantsContainer__cardHead__new {
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 2px;
  padding: 7px 15px;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: #99e2d0;
  color: #278870;
}
.restaurantsContainer__card {
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: 0px 0px 10px #ccc;
  position: relative;
}
.restaurantsContainer__card a {
  align-items: initial;
  justify-content: initial;
  flex-direction: column;
  color: #000;
  height: max-content;
  z-index: 1;
}
.restaurantsContainer__card__content {
  padding: 20px 15px;
  width: 80%;
}
.restaurantsContainer__card__content__subtitle {
  font-weight: 300;
  font-size: 1.1rem;
}
.restaurantsContainer__card__emptyLikeBtn {
  z-index: 3;
}
.restaurantsContainer__card__emptyLikeBtn:hover {
  display: none;
}
.restaurantsContainer__card__plainLikeBtn {
  background: linear-gradient(170deg, #a16be0 0%, #ff93e1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  bottom: 4.99%;
  opacity: 0;
  z-index: 20;
  font-size: 1.8rem;
  transition: all 0.1s ease-in-out;
}
.restaurantsContainer__card__plainLikeBtn:hover {
  transition: all 0.1s ease-in-out;
  opacity: 1;
}
.restaurantsContainer__card__plainLikeBtn:active {
  transition: all 0.1s ease-in-out;
  opacity: 1;
}

.footerContainer {
  align-items: initial;
  justify-content: initial;
  flex-direction: column;
  padding: 30px 20px;
  background-color: #353535;
  color: #fff;
}
.footerContainer__logo--invert {
  filter: invert(1);
  margin-bottom: 15px;
  width: 100px;
}
.footerContainer__link {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  margin-bottom: 7px;
}
.footerContainer__link__icon {
  width: 10px;
  font-size: 0.9rem;
  margin-right: 5px;
}
.footerContainer__link__icon--rotate {
  transform: rotateY(50deg);
}

/* Style des pages MENUS */
.menuContainer__head {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 70vw;
}
.menuContainer__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menuContainer--img-portrait > .menuContainer__img {
  object-position: center;
}
.menuContainer .commandBtn {
  margin: auto 20% 10% 20%;
}
.menuContainer .commandBtn:hover {
  margin: auto 20% 10% 20%;
}
.menuContainer__secondaryTitle {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.2rem;
  margin-top: 30px;
}
.menuContainer__secondaryTitle::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #99e2d0;
  margin-top: 5px;
}
.menuContainer__contentContainer {
  margin-top: 60%;
  align-items: initial;
  justify-content: initial;
  flex-direction: column;
  width: 100vw;
  padding: 30px 10px;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
}
.menuContainer__mainTitleContainer {
  align-items: center;
  justify-content: space-between;
  flex-direction: initial;
  font-family: "Shrikhand", cursive;
  height: 50px;
  font-size: 0.8rem;
}
.menuContainer__emptyLikeBtn {
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: initial;
  font-size: 1.8rem;
  cursor: pointer;
}
.menuContainer__plainLikeBtn {
  display: none;
}
.menuContainer .menuItem {
  align-items: stretch;
  justify-content: center;
  flex-direction: initial;
  height: max-content;
  margin: 20px 0;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 6px 10px #d7d7d7;
}
.menuContainer .menuItem__content {
  width: auto;
  padding: 10px 0 7px 10px;
}
.menuContainer .menuItem__title {
  line-height: 25px;
  font-size: 1.1rem;
}
.menuContainer .menuItem__description {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menuContainer .menuItem__price {
  align-items: center;
  justify-content: center;
  flex-direction: initial;
  margin-left: auto;
  align-self: flex-end;
  width: auto;
  height: 50%;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 10px 7px 12px 0;
}
.menuContainer .menuItem:hover {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
