@charset "UTF-8";
.btn__homePlainLikeBtn, .btn__homeEmptyLikeBtn, .btn__plainLikeBtn, .btn__emptyLikeBtn {
  align-items: center;
  justify-content: center;
  flex-direction: initial;
  width: 12%;
  height: 100%;
  font-size: 1.5rem;
  cursor: pointer;
  opacity: 1;
}

.btn, .btn:hover {
  align-items: center;
  justify-content: center;
  flex-direction: initial;
  height: auto;
  padding: 15px 30px;
  margin: 30px 0;
  border-radius: 50px;
  background: linear-gradient(170deg, #ff79da 0%, #9356dc 100%);
  box-shadow: 0px 2px 7px #ccc;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

.btn:hover {
  background: linear-gradient(170deg, #a16be0 0%, #ff93e1 100%);
  box-shadow: 0px 6px 10px #b4b4b4;
  font-weight: 600;
}

.menuContainer .menuItem:hover::before, .menuContainer .menuItem:active::before, .menuContainer .menuItem::before, .menuContainer .menuItem__price, .menuContainer .menuItem, .menuContainer__mainTitleContainer, .menuContainer__contentContainer, .footerContainer, .restaurantsContainer__card a, .functioningContainer__content, .functioningContainer__circle, .functioningContainer .fas::before, .functioningContainer__steps, .functioningContainer__cardsContainer, .exploreContainer, .searchForm form label span, .searchForm form, .searchForm, .headerContainer__backToHome, .headerContainer, .animLoaderContainer, .loader, body, .btn__homePlainLikeBtn, .btn__homeEmptyLikeBtn, .btn__plainLikeBtn, .btn__emptyLikeBtn, .btn, .btn:hover {
  display: flex;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
  position: relative;
}

.loader {
  visibility: hidden;
  position: absolute;
  z-index: 20;
  background: #f6f6f6;
  width: 100vw;
  align-items: unset;
  justify-content: center;
  flex-direction: row;
  animation: displayLoader 2s;
}

.animLoaderContainer {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: fixed;
  width: 50px;
  top: 50%;
  height: 10px;
  border-radius: 50%;
}

.animLoading {
  position: absolute;
  background: #a16be0;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: turnTheLoaderBullet1 0.4s ease 3;
}

.animLoading2 {
  position: absolute;
  background-color: #ff79da;
  border-radius: 50px;
  width: 10px;
  height: 10px;
  animation: turnTheLoaderBullet2 0.8s ease 3;
}

.animLoading3 {
  position: absolute;
  background-color: #9356dc;
  border-radius: 50px;
  width: 10px;
  height: 10px;
  animation: turnTheLoaderBullet3 0.6s ease 3;
}

a {
  text-decoration: none;
  color: unset;
}

.btn {
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  transition: all 0.2s ease-in-out;
}
.btn__emptyLikeBtn {
  background-color: #f6f6f6;
  z-index: 3;
  transition: all 0.1s ease-in-out;
}
.btn__emptyLikeBtn:hover, .btn__emptyLikeBtn:active {
  transition: all 0.1s ease-in-out;
  opacity: 0;
}
.btn__plainLikeBtn {
  background: linear-gradient(170deg, #a16be0 0%, #ff93e1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  z-index: 2;
}
.btn__homeEmptyLikeBtn {
  position: absolute;
  background-color: #f6f6f6;
  right: 15px;
  bottom: 5%;
  z-index: 2;
  height: 15%;
  transition: all 0.1s ease-in-out;
}
.btn__homeEmptyLikeBtn:hover, .btn__homeEmptyLikeBtn:active {
  transition: all 0.1s ease-in-out;
}
.btn__homePlainLikeBtn {
  position: absolute;
  right: 15px;
  height: 15%;
  background: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  bottom: 5%;
  z-index: 3;
  transform: scale(0.4);
  transition: all 0.2s;
}
.btn__homePlainLikeBtn:hover, .btn__homePlainLikeBtn:active {
  transform: scale(1.1);
  background: linear-gradient(170deg, #a16be0 0%, #ff93e1 100%);
  background-clip: text;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s;
}
.btn__menus {
  position: absolute;
  right: 0;
  font-size: 1.8rem;
}
.btn--commandBtn {
  margin: auto 20% 10% 20%;
}
.btn--commandBtn:hover, .btn--commandBtn:active {
  margin: auto 20% 10% 20%;
}
@media screen and (min-width: 1200px) {
  .btn--commandBtn:hover, .btn--commandBtn:active {
    width: 20vw;
    margin: 7vh auto;
  }
}
@media screen and (min-width: 1200px) {
  .btn--commandBtn {
    width: 20vw;
    margin: 7vh auto;
  }
}

.headerContainer {
  align-items: center;
  justify-content: center;
  flex-direction: initial;
  padding: 20px 0 10px 0;
  background-color: #fff;
  box-shadow: 0 2px 5px #ccc;
  z-index: 100;
  position: relative;
}
.headerContainer__logo {
  width: 150px;
}
.headerContainer--noShadow {
  box-shadow: unset;
}
.headerContainer__backToHome {
  position: absolute;
  left: 20px;
  font-size: 1.2rem;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.searchForm {
  align-items: center;
  justify-content: center;
  flex-direction: initial;
}
.searchForm form {
  align-items: center;
  justify-content: center;
  flex-direction: initial;
  width: 100vw;
  height: 50px;
  padding: 10px;
  background-color: #eaeaea;
  color: #323232;
}
.searchForm form label {
  height: 100%;
  text-align: center;
  position: relative;
}
.searchForm form label span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
  justify-content: unset;
  flex-direction: initial;
  margin-left: 8px;
}
.searchForm form input {
  width: auto;
  height: 100%;
  border: none;
  background: transparent;
}
.searchForm form input[placeholder] {
  color: black;
  text-align: center;
  font-size: 1rem;
  height: 100%;
}

.exploreContainer {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  text-align: center;
}
.exploreContainer__title {
  font-weight: 700;
  margin-bottom: 10px;
  padding: 0 30px;
}
.exploreContainer__description {
  font-weight: 300;
  font-size: 1.05rem;
}

.functioningContainer {
  background-color: #fff;
  padding: 50px 20px;
  width: 100vw;
}
@media screen and (min-width: 1200px) {
  .functioningContainer__mainTitle {
    text-align: center;
    margin-bottom: 40px;
  }
}
.functioningContainer__cardsContainer {
  align-items: center;
  justify-content: unset;
  flex-direction: column;
  gap: 10px;
  width: 95%;
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .functioningContainer__cardsContainer {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 35px;
  }
}
.functioningContainer__steps {
  align-items: center;
  justify-content: unset;
  flex-direction: initial;
  width: 96%;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .functioningContainer__steps {
    align-items: center;
    justify-content: unset;
    flex-direction: initial;
    width: 25%;
  }
}
.functioningContainer .fas {
  color: #717171;
}
.functioningContainer .fas::before {
  font-size: 1.2rem;
  width: 25px;
  align-items: center;
  justify-content: stretch;
  flex-direction: column;
}
@media screen and (max-width: 360px) {
  .functioningContainer .fas::before {
    margin-left: 20px;
    font-size: 1rem;
  }
}
.functioningContainer__circle {
  width: 27px;
  height: 27px;
  background-color: #9356dc;
  border-radius: 50%;
  color: #fff;
  font-size: 0.8rem;
  align-items: center;
  justify-content: center;
  flex-direction: initial;
  position: absolute;
  left: -10px;
  z-index: 10;
}
.functioningContainer__content {
  align-items: center;
  justify-content: center;
  flex-direction: initial;
  width: 95vw;
  height: 75px;
  border-radius: 20px;
  margin: 10px 0;
  background-color: #f3f3f3;
  box-shadow: 3px 5px 15px #d7d7d7;
  transition: background 0.1s ease-in-out;
}
.functioningContainer__content:hover, .functioningContainer__content:active {
  cursor: pointer;
  background: #f2eafb;
  transition: background 0.1s ease-in-out;
  color: #9356dc;
}
.functioningContainer__text {
  margin-left: 5%;
  font-weight: 600;
  min-width: 180px;
  color: #1a1a1a;
  width: 200px;
  min-width: max-content;
}
@media screen and (max-width: 360px) {
  .functioningContainer__text {
    margin-left: 10px;
    font-size: 0.9rem;
  }
}

.restaurantsContainer {
  padding: 50px 20px;
}
@media screen and (min-width: 1200px) {
  .restaurantsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px 15vw;
    gap: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .restaurantsContainer__mainTitle {
    width: 100%;
    text-align: center;
  }
}
.restaurantsContainer__card {
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: 0px 0px 10px #ccc;
  position: relative;
  transition: transform 0.1s ease-in-out;
}
.restaurantsContainer__card:hover, .restaurantsContainer__card:active {
  transform: scale(1.03);
  transition: transform 0.1s ease-in-out;
}
.restaurantsContainer__card a {
  align-items: initial;
  justify-content: initial;
  flex-direction: column;
  color: #000;
  height: max-content;
}
@media screen and (min-width: 1200px) {
  .restaurantsContainer__card {
    width: 30vw;
    margin: 0;
  }
}
.restaurantsContainer__cardHead {
  height: 170px;
  overflow: hidden;
}
.restaurantsContainer__img {
  object-position: 50% 60%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.restaurantsContainer__new {
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 2px;
  padding: 7px 15px;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: #99e2d0;
  color: #278870;
}
.restaurantsContainer__content {
  padding: 20px 25px;
  width: 80%;
}
.restaurantsContainer__subtitle {
  font-weight: 300;
  font-size: 1.1rem;
}

.footerContainer {
  align-items: initial;
  justify-content: initial;
  flex-direction: column;
  padding: 30px 20px;
  background-color: #353535;
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .footerContainer {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.footerContainer__logoContainer {
  height: 100%;
  width: max-content;
  transition: transform 0.2s;
}
.footerContainer__logoContainer:hover, .footerContainer__logoContainer:active {
  transform: scale(1.1);
  transition: transform 0.2s;
}
.footerContainer__logo {
  margin-bottom: 15px;
  width: 100px;
}
.footerContainer__logo--invert {
  filter: invert(1);
}
.footerContainer__link {
  text-decoration: none;
  color: #fff;
  width: max-content;
  font-weight: 400;
  margin-bottom: 7px;
  transition: color 0.2s ease-in-out;
}
.footerContainer__link:hover, .footerContainer__link:active {
  color: #99e2d0;
  transition: color 0.2s ease-in-out;
}
.footerContainer__icon {
  width: 10px;
  font-size: 0.9rem;
  margin-right: 5px;
}
.footerContainer__icon--rotate {
  transform: rotateY(50deg);
}

/* Style des pages MENUS */
.menuContainer__head {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 70vw;
}
@media screen and (min-width: 1200px) {
  .menuContainer__head::after {
    content: "";
    display: block;
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg, rgba(246, 246, 246, 0) 0%, #f6f6f6 70%);
    position: absolute;
    bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .menuContainer__head {
    width: 100%;
    height: 60vh;
  }
}
.menuContainer__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menuContainer--img-portrait > .menuContainer__img {
  object-position: center;
}
.menuContainer__secondaryTitle {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
  margin-top: 30px;
}
.menuContainer__secondaryTitle::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  margin-top: 5px;
}
@media screen and (min-width: 1200px) {
  .menuContainer__secondaryTitle {
    margin-left: 10vw;
  }
}
.menuContainer__contentContainer {
  margin-top: 60%;
  align-items: initial;
  justify-content: initial;
  flex-direction: column;
  width: 100vw;
  padding: 30px 10px;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
}
@media screen and (min-width: 1200px) {
  .menuContainer__contentContainer {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40vh;
    padding: 30px 5vw;
    border-radius: 30px;
    box-shadow: 0 0 15px #787878;
    margin-bottom: 50px;
  }
}
.menuContainer__mainTitleContainer {
  align-items: center;
  justify-content: space-between;
  flex-direction: initial;
  font-family: "Shrikhand", cursive;
  height: 50px;
  font-size: 0.8rem;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .menuContainer__mainTitleContainer {
    width: 80%;
    margin: auto;
  }
}
@media screen and (min-width: 1200px) {
  .menuContainer__mainTitle {
    font-size: 2rem;
  }
}
.menuContainer .menuItem {
  height: max-content;
  width: 100%;
  margin: 20px 0;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 6px 10px #d7d7d7;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .menuContainer .menuItem {
    width: 60%;
    margin: 20px auto;
  }
}
.menuContainer .menuItem__content {
  width: 80%;
  min-width: 50%;
  padding: 10px;
}
.menuContainer .menuItem__title {
  line-height: 30px;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menuContainer .menuItem__description {
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menuContainer .menuItem__price {
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: initial;
  width: 20%;
  font-weight: bold;
  padding: 0 20px 12px 5px;
}
.menuContainer .menuItem::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  color: #fff;
  font-size: 1.7rem;
  height: 100%;
  width: 75px;
  position: absolute;
  right: -60px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  animation: rotateOutCheck 0.3s;
}
.menuContainer .menuItem::after {
  content: "";
  width: 0;
  background-color: #99e2d0;
  border-radius: 0 15px 15px 0;
  transition: width 0.3s;
}
.menuContainer .menuItem:hover, .menuContainer .menuItem:active {
  cursor: pointer;
}
.menuContainer .menuItem:hover::before, .menuContainer .menuItem:active::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  color: #fff;
  font-size: 1.7rem;
  height: 100%;
  width: 75px;
  position: absolute;
  right: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: rotateInCheck 0.3s;
}
.menuContainer .menuItem:hover::after, .menuContainer .menuItem:active::after {
  content: "";
  background-color: #99e2d0;
  width: 100px;
  border-radius: 0 15px 15px 0;
  transition: width 0.3s;
}
.menuContainer .menuItem--1 {
  animation: apparitionAnim 0.5s ease-in 1;
}
.menuContainer .menuItem--2 {
  animation: apparitionAnim 0.9s ease-in-out 1;
}
.menuContainer .menuItem--3 {
  animation: apparitionAnim 1.1s ease-in-out 1;
}
.menuContainer .menuItem--4 {
  animation: apparitionAnim 1.3s ease-in-out 1;
}

@keyframes displayLoader {
  0% {
    visibility: visible;
    height: 100%;
  }
  100% {
    visibility: visible;
    height: 100%;
  }
}
@keyframes turnTheLoaderBullet1 {
  0% {
    left: 0;
  }
  34% {
    top: 0;
  }
  68% {
    right: 0;
  }
  100% {
    bottom: 0;
  }
}
@keyframes turnTheLoaderBullet2 {
  0% {
    right: 0;
  }
  34% {
    top: 0;
  }
  68% {
    left: 0;
  }
  100% {
    bottom: 0;
  }
}
@keyframes turnTheLoaderBullet3 {
  0% {
    right: 0;
  }
  34% {
    top: 0;
  }
  68% {
    left: 0;
  }
  100% {
    bottom: 0;
  }
}
@keyframes apparitionAnim {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes rotateInCheck {
  from {
    transform: rotate();
    right: -60px;
  }
  to {
    transform: rotate(360deg);
    right: 0;
  }
}
@keyframes rotateOutCheck {
  from {
    right: 0;
  }
  to {
    right: -60px;
  }
}

/*# sourceMappingURL=style.css.map */
