*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  background-color: #f6f6f6;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 10px 0;
  background-color: #fff;
  box-shadow: 0 2px 5px #ccc;
  z-index: 100;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-form form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 50px;
  padding: 10px;
  background-color: #eaeaea;
  color: #323232;
}
.search-form form label {
  height: auto;
}
.search-form form label span {
  position: absolute;
  height: 1.25rem;
  display: flex;
  align-items: center;
  margin-left: 8px;
}
.search-form form input {
  width: auto;
  border: none;
  background: transparent;
}
.search-form form input[placeholder] {
  color: black;
  text-align: center;
  font-size: 1rem;
  height: 1.25rem;
}

.explore-restaurants-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  text-align: center;
}
.explore-restaurants-container > h1 {
  font-weight: 700;
  margin-bottom: 10px;
  padding: 0 30px;
}
.explore-restaurants-container p {
  font-weight: 300;
  font-size: 1.05rem;
}
.explore-restaurants-container > a {
  display: block;
  height: auto;
  padding: 15px 30px;
  margin: 30px 0;
  max-width: 450px;
  border-radius: 50px;
  background: linear-gradient(170deg, #ff79da 0%, #9356dc 100%);
  box-shadow: 0px 6px 10px #ccc;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

.how-it-works-container {
  background-color: #fff;
  padding: 50px 20px;
}
.how-it-works-container > .how-it-works-cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin: 20px 15px;
}
.how-it-works-container > .how-it-works-cards-container > a {
  text-decoration: none;
  width: 100%;
  position: relative;
}
.how-it-works-container .how-it-works-steps {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: unset;
}
.how-it-works-container .how-it-works-steps > .circle {
  width: 27px;
  height: 27px;
  background-color: #9356dc;
  border-radius: 50%;
  color: #fff;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -15px;
  z-index: 10;
}
.how-it-works-container .how-it-works-steps > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95vw;
  height: 75px;
  border-radius: 20px;
  color: #000;
  margin: 10px 0;
  background-color: #f3f3f3;
  box-shadow: 3px 5px 15px #d7d7d7;
}
.how-it-works-container .how-it-works-steps i {
  display: block;
  font-size: 1.3rem;
  color: #717171;
}
.how-it-works-container .how-it-works-steps i:not(.fa-mobile-alt) {
  object-fit: contain;
}
.how-it-works-container .how-it-works-steps i:not(.fa-mobile-alt)::before {
  width: 15px;
}
.how-it-works-container .how-it-works-steps p {
  margin-left: 15px;
  font-weight: 500;
  min-width: 180px;
}

.restaurants-container {
  padding: 50px 20px;
}
.restaurants-container .restaurant-card {
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: 0px 0px 10px #ccc;
  position: relative;
}
.restaurants-container .restaurant-card a {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  text-decoration: none;
  color: #000;
  height: max-content;
}
.restaurants-container .restaurant-card .card-head {
  height: 170px;
  overflow: hidden;
}
.restaurants-container .restaurant-card .card-head img {
  object-position: 50% 60%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.restaurants-container .restaurant-card .card-head .is-new-restaurant {
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 2px;
  padding: 7px 15px;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: #99e2d0;
  color: #278870;
}
.restaurants-container .restaurant-card .card-content {
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
}
.restaurants-container .restaurant-card .card-content .card-subtitle {
  font-weight: 300;
  font-size: 1.1rem;
}
.restaurants-container .restaurant-card .card-content .card-like-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  font-size: 1.5rem;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  background-color: #353535;
  color: #fff;
}
footer img {
  filter: invert(1);
  margin-bottom: 15px;
}
footer a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  margin-bottom: 7px;
}
footer a span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  font-size: 0.9rem;
  margin-right: 5px;
}
footer a .fa-hands-helping {
  transform: rotateY(50deg);
}

/* Style des pages MENUS */
.menu-container .__menu-img-head {
  position: absolute;
  z-index: -1;
}
.menu-container .__menu-img-head > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu-container > a {
  display: block;
  height: auto;
  padding: 15px 30px;
  margin: 30px 0;
  max-width: 450px;
  border-radius: 50px;
  background: linear-gradient(170deg, #ff79da 0%, #9356dc 100%);
  box-shadow: 0px 6px 10px #ccc;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 10% 10% 10%;
  max-width: unset;
}

.menu-content-container {
  margin-top: 53%;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
}
.menu-content-container .menu-title-head {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  font-family: "Shrikhand", cursive;
  height: 50px;
  font-size: 0.8rem;
}
.menu-content-container .menu-title-head .card-like-btn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}
.menu-content-container .menu-title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.2rem;
  margin-top: 30px;
}
.menu-content-container .menu-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #99e2d0;
  margin-top: 5px;
}
.menu-content-container .menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  margin: 20px 0;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 6px 10px #ccc;
}
.menu-content-container .menu-item .menu-item-content {
  width: 85%;
  overflow: hidden;
}
.menu-content-container .menu-item .menu-item-content p {
  font-weight: 300;
  line-height: 25px;
  margin-top: 3px;
  white-space: nowrap;
}
.menu-content-container .menu-item .__price {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-end;
  margin-left: auto;
  align-self: flex-end;
  height: 50%;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
